@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

//Colors
$brand-primary: #272720;
$brand-secondary: #af0015;

//Gray scale
$gray-light: #efefef;
$gray-medium: #676767;
$gray-dark: #282828;

//Body
$body-background-color: #c0ddce;
$body-default-color: #333333;
$body-default-font-familty: 'Open Sans', sans-serif;

//Nav
$nav-background-color: $brand-primary;
$nav-font-color: #ffffff;
$nav-height: 52px;