@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

//Colors
$brand-primary: #272720;
$brand-secondary: #af0015;
$brand-third: #982f2f;

//Gray scale
$gray-light: #efefef;
$gray-medium: #676767;
$gray-lightdark: #404040;
$gray-dark: #282828;

//Body
$body-background-color: #dee4e1;
$body-default-color: #333333;
$body-default-font-familty: "Open Sans", sans-serif;

//Nav
$nav-background-color: #404040;
$nav-font-color: #ffffff;
$nav-height: 52px;
