.album-detail-component {
  width: 50%;
  margin-left: 25%;
  background-color: $gray-light;
  padding: 0;
  box-shadow: 0px 0px 6px 1px rgba(99, 99, 99, 0.12);
  padding-bottom: $nav-height;
  min-height: calc(100vh - #{$nav-height});
  @media screen and (max-width: $break-mobile) {
    width: 100%;
    margin-left: 0px;
  }
}
