.login-wrapper {
  .banner-button {
    color: white;
    background: $brand-secondary;
    display: inline-block;
    width: 220px;
    height: 52px;
    border-radius: 30px;
    margin-top: 3%;
    padding-top: 15px;
    letter-spacing: 4px;
    transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    @media screen and (max-width: $break-mobile) {
      margin-top: 10%;
    }
  }

  .fa {
    font-size: 26px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 200%;
    transition: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    cursor: pointer;
  }

  #scrollToTop {
    padding: 10px;
    font-size: 50px;
    border: none;
    color: $brand-secondary;
    transition: 0.3s;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
  }

  .banner-info {
    text-align: center;
    position: relative;
    margin-top: 15%;
    @media screen and (max-width: $break-mobile) {
      margin-top: 25%;
    }
  }
  .banner-info h1 {
    font-size: 65px;
    margin: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.62);
    @media screen and (max-width: $break-mobile) {
      font-size: 35px;
    }
  }
  .banner-info #mini-info {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 10%;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    padding-bottom: 4px;
    border-bottom: 1px solid $brand-secondary;
    margin-bottom: 10px;
    transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .banner-info .fa {
    padding: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.1);
  }

  .banner-two {
    margin-top: 95px;
    background: #232323;
    width: 100%;
    height: 750px;
    position: relative;
    color: white;
  }
  .banner-two img {
    max-width: 50%;
    margin-top: 9%;
    margin-left: 5%;
    @media screen and (max-width: $break-mobile) {
      display: none;
    }
  }
  .banner-two .banner-two-info {
    float: right;
    width: 40%;
    color: $brand-secondary;
    position: relative;
    margin-top: 8%;
    padding-right: 5%;
    @media screen and (max-width: $break-mobile) {
      width: 100%;
      padding-left: 5%;
    }
  }
  .banner-two .banner-two-info h1 {
    font-size: 46px;
    padding-bottom: 5%;
    font-weight: bold;
    @media screen and (max-width: $break-mobile) {
      font-size: 30px;
    }
  }
  .banner-two .banner-two-info h2 {
    font-size: 35px;
    @media screen and (max-width: $break-mobile) {
      font-size: 25px;
    }
  }
  .banner-two .banner-two-info p {
    color: rgb(218, 218, 218);
    padding-bottom: 25px;
    line-height: 30px;
  }

  .banner-three {
    width: 100%;
    height: 650px;
    background-color: white;
  }
  .banner-three .fa {
    padding: 15px;
    color: white;
    border: none;
    background: $brand-secondary;
    text-align: center;
    position: relative;
    margin-left: 48.5%;
    top: -28px;
  }
  .banner-three a {
    margin: 20px;
    width: 30%;
    margin-top: 80px;
    border: 1px solid white;
    @media screen and (max-width: $break-mobile) {
      width: 80%;
      margin: 30px;
      height: 70px;
    }
  }
  .banner-three h1 {
    font-size: 60px;
    margin-top: 10%;
    margin-bottom: 2%;
    font-weight: bold;
    @media screen and (max-width: $break-mobile) {
      font-size: 35px;
    }
  }
  .banner-three div {
    text-align: center;
  }

  .banner-four {
    height: 730px;
    background: #f1b265;
    background: -moz-linear-gradient(
      -45deg,
      #f1b265 0%,
      #f1b265 4%,
      $brand-secondary 100%
    );
    background: -webkit-gradient(
      left top,
      right bottom,
      color-stop(0%, #f1b265),
      color-stop(4%, #f1b265),
      color-stop(100%, $brand-secondary)
    );
    background: -webkit-linear-gradient(
      -45deg,
      #f1b265 0%,
      #f1b265 4%,
      $brand-secondary 100%
    );
    background: -o-linear-gradient(
      -45deg,
      #f1b265 0%,
      #f1b265 4%,
      $brand-secondary 100%
    );
    background: -ms-linear-gradient(
      -45deg,
      #f1b265 0%,
      #f1b265 4%,
      $brand-secondary 100%
    );
    background: linear-gradient(
      135deg,
      #f1b265 0%,
      #f1b265 4%,
      $brand-secondary 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#f1b265',
        endColorstr='#ff5724',
        GradientType=1
      );
    text-align: center;
    padding-top: 100px;
  }
  .banner-four h1 {
    font-size: 60px;
    color: white;
    font-weight: bold;
    @media screen and (max-width: $break-mobile) {
      font-size: 35px;
    }
  }
  .banner-four .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  .banner-four .services .service-one,
  .banner-four .services .service-two,
  .banner-four .services .service-three {
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    p {
      color: rgb(43, 43, 43);
    }
  }
  .banner-four .services .service-one h2,
  .banner-four .services .service-two h2,
  .banner-four .services .service-three h2 {
    font-size: 40px;
    color: white;
    @media screen and (max-width: $break-mobile) {
      font-size: 25px;
    }
  }
  .scroll-down-three {
    padding: 15px;
    color: white;
    border: none;
    background: $brand-secondary;
    text-align: center;
    position: relative;
    margin-left: 0%;
    top: -130px;
  }
  footer {
    clear: both;
    background-color: #232323;
    text-align: center;
    height: 300px;
    color: #dee6f2;
  }
  footer .fa {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  footer h2 {
    padding-top: 50px;
    font-size: 1.1rem;
  }
}
