.tracklist-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background-color: $brand-primary;
  color: $gray-light;
  padding: 1rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  position: relative;
  width: 52vw;
  right: 1vw;
  transition: 0.3s all;
  @media screen and (max-width: $break-mobile) {
    width: 100vw;
  }
  .tracklist-banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    .menu-label {
      color: #9a9a9a;
    }
    .tracklist-name {
      font-size: 2.5rem;
      color: $gray-light;
      @media screen and (max-width: $break-mobile) {
        font-size: 1.7rem;
      }
    }
    .tracklist-banner-info-lower {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .tracklist-banner-btn-group {
        display: flex;
        width: 220px;
        justify-content: space-between;
        margin-right: 5%;
        @media screen and (max-width: $break-mobile) {
          width: 10%;
        }
        button {
          border: 1px solid $gray-light;
          background-color: $brand-primary;
          color: $gray-light;
          text-transform: uppercase;
          font-size: 11px;
          width: 100px;
          letter-spacing: 2px;
          height: 30px;
          border-radius: 0px;
          @media screen and (max-width: $break-mobile) {
            display: none;
          }

          &:hover {
            background-color: $gray-light;
            color: $gray-lightdark;
          }
        }
      }
    }
  }
  .tracklist-img {
    height: 200px;
    min-width: 200px !important;
    width: 200px;
    @media screen and (max-width: $break-mobile) {
      width: 100px;
      height: 100px;
      min-width: 100px !important;
    }
    img {
      object-fit: cover;
      height: 200px;
      box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.14);
      @media screen and (max-width: $break-mobile) {
        height: 100px;
      }
    }
  }
}
