.extra-infolist {
  position: fixed;
  top: $nav-height;
  right: 0;
  background-color: $gray-light;
  box-shadow: -2px -2px 4px 0px rgba(78, 78, 78, 0.1);
  padding-right: 0;
  width: 20% !important;
  padding-top: 1.5%;
  padding-bottom: 0;
  height: 100%;
  .menu {
    .top-label {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-bottom: 10px;
    }
    p.menu-label {
      font-size: 0.9em;
      color: #484848;
      letter-spacing: 0.2em;
      padding-left: 1rem;
      font-weight: bold;
    }
    .latest-played {
      max-height: 20vh;
      overflow-y: auto;
    }
  }
}
