.extra-infolist {
  position: fixed;
  top: $nav-height;
  right: 0;
  background-color: $gray-light;
  box-shadow: -2px -2px 4px 0px rgba(78, 78, 78, 0.1);
  padding-right: 0;
  width: 250px !important;
  padding-top: 1.5%;
  padding-bottom: 0;
  height: 100%;
  .menu {
    .top-label {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-bottom: 10px;
    }
    p.menu-label {
      font-size: 0.9em;
      color: #484848;
      letter-spacing: 0.2em;
      padding-left: 1rem;
      font-weight: bold;
      margin-left: 30px;
    }
    .latest-played {
      max-height: 220px;
      overflow-y: hidden;
      .flip-move {
        display: flex;
        flex-direction: column-reverse;
      }
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .left-grp {
          display: flex;
          flex-direction: row;
          align-items: center;
          max-width: 82%;
          img {
            height: 35px;
            width: 35px;
            border-radius: 50px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.363);
          }
          .track-info {
            margin-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 16px;
            .artist-label {
              font-size: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .title-label {
              font-size: 11px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .right-grp {
          margin-right: 10px;

          button {
            border-radius: 50px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
            &:focus {
              border-color: #dbdbdb;
            }
            .fa {
              font-size: 12px;
            }
          }
        }
      }
    }
    .queued-tracks {
      max-height: 220px;
      overflow-y: hidden;
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .left-grp {
          display: flex;
          flex-direction: row;
          align-items: center;
          max-width: 82%;
          img {
            height: 35px;
            width: 35px;
            border-radius: 50px;
          }
          .track-info {
            margin-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 16px;
            .artist-label {
              font-size: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .title-label {
              font-size: 11px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .right-grp {
          margin-right: 10px;
          .fa-remove {
            cursor: pointer;
            font-size: 18px;
          }
          button {
            border-radius: 50px;
            &:focus {
              border-color: #dbdbdb;
            }
            .fa {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
