.navbar {
  background-color: $nav-background-color;
  height: $nav-height;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 30;
  box-shadow: 0px 1px 6px 0px rgba(72, 72, 72, 0.83);
  display: flex;
  flex-direction: row;
  align-items: center;
  .navbar-brand {
    position: absolute;
    a.navbar-item {
      font-weight: bold;
      letter-spacing: 4px;
      font-size: 19px;
      img {
        max-height: none;
      }
      &:hover {
        border-color: transparent;
      }
    }
  }
  .navbar-menu {
    height: $nav-height;
    .navbar-start {
      margin-left: 24%;
    }
  }
  a.navbar-item {
    color: $nav-font-color;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.5px;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: 0.3s all ease-in-out;
    margin-right: 1rem;
    &:hover {
      border-color: white;
      background-color: transparent;
      color: $nav-font-color;
    }
  }
  input[type='text'] {
    align-self: center;
    width: 200px;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
    height: 2rem;
    &:focus {
      width: 300px;
      border-color: transparent;
    }
  }
  .navbar-end {
    form {
      align-self: center;
      .icon.is-right {
        height: 2em;
        cursor: pointer;
      }
    }
    img {
      max-height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
    .user-nav-link {
      color: $nav-font-color;
      transition: 0.3s all ease-in-out;
      letter-spacing: 1px;
      font-size: 13px;
      background-color: transparent !important;
      &:hover {
        background-color: transparent !important;
      }
      &:after {
        border-color: white;
        margin-top: -0.55em;
        height: 0.7em;
        width: 0.7em;
        right: 0.725em;
      }
      @media only screen and (max-width: 1216px) {
        display: none;
      }
    }
    .user-nav-dropdown {
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .navbar-dropdown {
      background-color: rgba(64, 64, 64, 0.87);
      font-size: 0.8rem;
      border: none;
      border-radius: 0px;
      margin-top: 0px;
      box-shadow: 1px 1px 3px 0px rgba(88, 88, 88, 0.54);
      &:hover {
        background-color: rgba(64, 64, 64, 0.67);
        display: block;
      }
      .navbar-item {
        border-bottom: none;
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
}
