.playlists-menu {
  position: fixed;
  top: $nav-height;
  background-color: $gray-light;
  box-shadow: 2px 2px 4px 0px rgba(78, 78, 78, 0.1);
  padding-right: 0;
  width: 250px !important;
  padding-top: 1.5%;
  padding-bottom: 0;
  height: 100%;
  .menu {
    .top-label {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-bottom: 10px;
      i {
        margin-right: 1.5rem;
        color: #484848;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
    p.menu-label {
      font-size: 0.9em;
      color: #484848;
      letter-spacing: 0.2em;
      padding-left: 1rem;
      font-weight: bold;
    }
    .my-playlists {
      max-height: 52%;
    }
    .featured-playlists {
      height: 200px;
    }
    .menu-list {
      overflow-y: auto;
      overflow-x: hidden;
      li {
        height: 36px;
        border-left: 3px solid transparent;
        transition: all 0.2s ease-in-out;
        position: relative;
        cursor: pointer;

        .tooltiptext {
          visibility: hidden;
          position: absolute;
          top: 5px;
          right: 0px;
          background-color: rgba(40, 40, 40, 0.7);
          border-radius: 5px;
          color: white;
          padding: 5px;
          box-shadow: 1px 1px 2px 2px rgba(4, 4, 4, 0.1);
          z-index: 10;
        }
        .tooltiptext::after {
          content: ' ';
          position: absolute;
          top: 50%;
          right: 100%; /* To the left of the tooltip */
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent rgba($gray-dark, 0.7) transparent
            transparent;
        }
        &:hover {
          border-left: 3px solid #494949;
          background: #e9e9e9;
        }
        &:hover .tooltiptext {
          visibility: visible;
        }
      }
      .tooltip.active {
        border-left: 3px solid $brand-secondary;
        background-color: #e6e6e6;
        a {
          color: $brand-secondary;
          img {
            filter: grayscale(0%);
          }
        }
      }
      li a {
        height: 36px;
        overflow: hidden;
        padding: 0.6em 0.75em;
        border-radius: 0px;
        border-top: 1px solid rgb(228, 228, 228);
        text-overflow: ellipsis;
        white-space: nowrap;
        letter-spacing: 0.5;
        font-size: 13px;
        width: 225px;
        display: flex;
        align-items: center;
        img {
          width: 25px;
          height: 25px;
          border-radius: 50px;
          margin-right: 10px;
          filter: grayscale(75%);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
        }
        .playlist-name {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .fa {
          position: absolute;
          left: 90%;
          font-size: 15px;
        }
        &:hover {
          background: transparent;
        }
      }
    }
  }
}
