.track {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  border-left: 2px solid rgba(255, 107, 66, 0);
  padding-left: 3%;
  padding-right: 3%;
  .img-wrapper {
    min-width: 100px;
    img {
      height: 100px;
    }
    .img-click-play {
      height: 100px;
      width: 100px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.61);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.3s all ease;
      .button {
        border-radius: 50px;
        height: 40px;
        width: 40px;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.23);
        .fa {
          color: white;
        }
      }
    }
    &:hover .img-click-play {
      opacity: 1;
    }
  }
  .track-info {
    padding-left: 10px;
    letter-spacing: 0.3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .track-section-higher {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .track-details {
        display: flex;
        flex-direction: column;

        .artist-label {
          font-size: 11px;
          color: $gray-medium;
        }
        .title-label {
          font-size: 14px;
          text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.22);
        }
      }
      .track-section-higher-right-grp {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .popularity {
          position: relative;
          .bg-pop-wrapper {
            display: flex;
            .bg-pop {
              width: 3px;
              height: 10px;
              background-color: #949494;
              margin-right: 1px;
            }
            .color-pop {
              width: 3px;
              height: 10px;
              background-color: #3f3f3f;
              margin-right: 1px;
              position: relative;
              top: 10px;
              z-index: 7;
            }
          }
        }
        .track-open-mini-meny {
          margin-top: 9px;
          margin-right: 0.4rem;
          margin-left: 15px;
          display: flex;
          cursor: pointer;
          padding: 3px;
          i {
            font-size: 5px;
            padding: 0.5px;
          }
        }
        .track-mini-meny {
          width: 140px;
          min-width: 0px;
          .dropdown-content {
            padding: 0px;
            position: relative;
            border-radius: 0px;
            :last-child {
              border-bottom: none;
            }
            .dropdown-item {
              cursor: pointer;
              padding: 8px;
              font-size: 12px;
              border-bottom: 1px solid $gray-light;
              &:hover {
                text-decoration: underline;
              }
            }
            .open-add-track {
              cursor: default;
              display: flex;
              justify-content: space-between;
              align-items: center;
              &:hover {
                text-decoration: none;
              }
              i.fa {
                font-size: 21px;
              }
              .mini-meny-playlists {
                visibility: hidden;
                position: absolute;
                background: white;
                left: 100%;
                top: 0;
                -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
                  0 0 0 1px rgba(10, 10, 10, 0.1);
                box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
                  0 0 0 1px rgba(10, 10, 10, 0.1);
                max-height: 300px;
                overflow-y: auto;
                .menu-list {
                  border-left: 0;
                  margin: 0;
                  padding: 0;
                  width: 110px;
                  overflow: hidden;
                  white-space: nowrap;
                  a {
                    padding: 8px;
                    font-size: 12px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    &:hover {
                      text-decoration: underline;
                      background-color: transparent;
                    }
                  }
                }
              }
              &:hover .mini-meny-playlists {
                visibility: visible;
              }
            }
          }
        }
      }
    }

    .play-btn {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-bottom: 15px;
      margin-right: 2%;
      box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.361);
      &:focus {
        border-color: #dbdbdb;
      }
      .fa {
        font-size: 14px;
      }
    }
    .track-section-lower {
      display: flex;
      justify-content: space-around;
      position: relative;
      .time-counter {
        font-size: 11px;
        position: absolute;
        top: 26px;
        left: 10%;
      }
      .time-duration {
        font-size: 11px;
        position: absolute;
        top: 26px;
        right: 5;
      }
      .running-track {
        width: 90%;
        display: flex;
        position: relative;
        .played-color {
          height: 3px;
          background: $brand-secondary;
          position: absolute;
          z-index: 8;
          bottom: 33.5;
        }
        .track-color {
          height: 3px;
          background: $gray-medium;
          position: absolute;
          width: 100%;
          bottom: 33.5;
        }
      }
    }
  }

  video {
    display: none !important;
  }
  input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    z-index: 8;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: transparent;
    border-radius: 50px;
    border: 0px solid #000101;
  }
  input[type='range']::-webkit-slider-thumb {
    //box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #00001e;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: $gray-lightdark;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.85px;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    background: transparent;
  }
  input[type='range']::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: transparent;
    border-radius: 50px;
    border: 0px solid #000101;
  }
  input[type='range']::-moz-range-thumb {
    //box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #00001e;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: $gray-lightdark;
    cursor: pointer;
  }
  input[type='range']::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type='range']::-ms-fill-lower {
    background: transparent;
    border: 0px solid #000101;
    border-radius: 50px;
    //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type='range']::-ms-fill-upper {
    background: transparent;
    border: 0px solid #000101;
    border-radius: 50px;
    //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type='range']::-ms-thumb {
    //box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #00001e;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: $gray-lightdark;
    cursor: pointer;
    height: 3px;
  }
  input[type='range']:focus::-ms-fill-lower {
    background: transparent;
  }
  input[type='range']:focus::-ms-fill-upper {
    background: transparent;
  }
}
.track.active-track {
  border-left: 2px solid #ff6b42 !important;
}
