.tracklist {
  margin-left: 25%;
  background-color: $gray-light;
  padding: 0;
  box-shadow: 0px 0px 6px 1px rgba(99, 99, 99, 0.12);
  margin-bottom: 70px;
  .tracklist-banner {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    background-color: $gray-lightdark;
    color: $gray-light;
    padding: 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    width: 52vw;
    right: 1vw;
    transition: 0.3s all;
    .tracklist-banner-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.5rem;
      width: 100%;
      .menu-label {
        color: #9a9a9a;
      }
      .tracklist-banner-info-lower {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .tracklist-banner-btn-group {
          display: flex;
          width: 220px;
          justify-content: space-between;
          margin-right: 5%;
          button {
            border: 1px solid $gray-light;
            background-color: $gray-lightdark;
            color: $gray-light;
            text-transform: uppercase;
            font-size: 11px;
            width: 100px;
            letter-spacing: 2px;
            height: 30px;
            border-radius: 0px;
            &:hover {
              background-color: $gray-light;
              color: $gray-lightdark;
            }
          }
        }
      }
    }
  }
  .tracklist-name {
    font-size: 2.5rem;
    color: $gray-light;
  }
  .tracklist-img {
    height: 200px;
    min-width: 200px !important;
    width: 200px;
    img {
      object-fit: cover;
      height: 200px;
      box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.14);
    }
  }
  .tracklist-tracks {
    margin-top: 1.5%;
  }
  .tracklist-banner.scroll-state {
    position: fixed;
    left: 24.5%;
    bottom: 95vh;
    transition: 0.3s all ease;
    width: 50.3vw;
    z-index: 9;
    padding: 5px;
    align-items: center;
    background-color: rgba(74, 74, 74, 1);
    .tracklist-img {
      height: 50px;
      width: 50px;
      min-width: 0px !important;
      img {
        height: 50px;
        width: 50px;
      }
    }

    .tracklist-banner-info-lower {
      .small-info {
        display: none;
      }
    }
    .tracklist-banner-info {
      flex-direction: row;
      width: 90%;
      .large-info {
        overflow: hidden;
        white-space: nowrap;
      }
      .menu-label {
        display: none;
      }
      .tracklist-name {
        font-size: 1.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .tracklist-banner-btn-group {
      width: 100px !important;
      margin-left: 5%;
      .button {
        width: 40px !important;
        overflow: hidden;
        border-radius: 50px !important;
        .fa {
          font-size: 14px;
        }
      }
    }
  }
  .tracklist-banner.scroll-state.scroll-position {
    bottom: calc(100vh - 112px);
  }
}
