.tracklist {
  margin-left: 25%;
  background-color: $gray-light;
  padding: 0;
  box-shadow: 0px 0px 6px 1px rgba(99, 99, 99, 0.12);
  margin-bottom: 70px;
  .tracklist-scroll-banner {
    height: 50px;
    position: fixed;
    width: 50.2vw;
    background-color: rgba(74, 74, 74, 1);
    z-index: 25;
    top: -52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    white-space: nowrap;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.36);
    transition: 0.3s all ease;
    .tracklist-name {
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 1.2rem;
      margin-bottom: 0;
      max-width: 72%;
      padding: 1%;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      div {
        cursor: pointer;
      }
      span {
        font-size: 0.7rem;
        letter-spacing: 1px;
        color: #dddbdb;
        padding-left: 5px;
        margin-top: 4px;
      }
    }
    .tracklist-scroll-banner-right-grp {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 25%;
      .tracklist-scroll-btn-grp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 55%;
        .button {
          border: 1px solid $gray-light;
          background-color: $gray-lightdark;
          color: $gray-light;
          text-transform: uppercase;
          font-size: 11px;
          width: 40px;
          letter-spacing: 2px;
          height: 30px;
          border-radius: 50px;
          i.fa {
            font-size: 11px;
          }
          i.fa-remove {
            font-size: 15px;
            padding-bottom: 2px;
            padding-left: 1px;
          }
          &:hover {
            background-color: $gray-light;
            color: $gray-lightdark;
          }
        }
      }
      .tracklist-scroll-img {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
  .tracklist-scroll-banner.banner-show {
    top: 52px;
  }
  .tracklist-banner {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    background-color: $gray-lightdark;
    color: $gray-light;
    padding: 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    width: 52vw;
    right: 1vw;
    transition: 0.3s all;
    .tracklist-banner-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.5rem;
      width: 100%;
      .menu-label {
        color: #9a9a9a;
      }
      .tracklist-banner-info-lower {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .tracklist-banner-btn-group {
          display: flex;
          width: 220px;
          justify-content: space-between;
          margin-right: 5%;
          button {
            border: 1px solid $gray-light;
            background-color: $gray-lightdark;
            color: $gray-light;
            text-transform: uppercase;
            font-size: 11px;
            width: 100px;
            letter-spacing: 2px;
            height: 30px;
            border-radius: 0px;
            &:hover {
              background-color: $gray-light;
              color: $gray-lightdark;
            }
          }
        }
      }
    }
  }
  .tracklist-name {
    font-size: 2.5rem;
    color: $gray-light;
  }
  .tracklist-img {
    height: 200px;
    min-width: 200px !important;
    width: 200px;
    img {
      object-fit: cover;
      height: 200px;
      box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.14);
    }
  }
  .tracklist-tracks {
    margin-top: 1.5%;
  }
}
