.track {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  border-left: 3px solid rgba(255, 107, 66, 0);
  padding-left: 3%;
  padding-right: 3%;
  .img-wrapper {
    min-width: 100px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.363);
    img {
      height: 100px;
    }
    .img-click-play {
      height: 100px;
      width: 100px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.61);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.3s all ease;
      .button {
        border-radius: 50px;
        height: 40px;
        width: 40px;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.23);
        .fa {
          color: white;
        }
      }
    }
    &:hover .img-click-play {
      opacity: 1;
    }
  }
  .track-info {
    padding-left: 10px;
    letter-spacing: 0.3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .track-section-higher {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .track-details {
        display: flex;
        flex-direction: column;

        .artist-label {
          font-size: 11px;
          color: $gray-medium;
          span {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .title-label {
          font-size: 14px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .track-section-higher-right-grp {
        display: flex;
        flex-direction: row;
        align-items: center;
        .popularity {
          position: relative;
          .bg-pop-wrapper {
            display: flex;
            .bg-pop {
              border-right: 2px solid #949494;
              height: 10px;
              padding-right: 1px;
            }
            .color-pop {
              height: 10px;
              padding-right: 1px;
              border-right: 2px solid #3f3f3f;
              top: 10px;
              z-index: 7;
            }
          }
        }
      }
    }

    .play-btn {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-bottom: 15px;
      margin-right: 2%;
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.21);
      transition: 0.15s all ease-out;
      &:focus {
        border-color: #dbdbdb;
      }
      .fa {
        font-size: 14px;
      }
    }
    .track-section-lower {
      display: flex;
      justify-content: space-around;
      position: relative;
      .time-counter {
        font-size: 11px;
        position: absolute;
        top: 26px;
        left: 10%;
      }
      .time-duration {
        font-size: 11px;
        position: absolute;
        top: 26px;
        right: 5;
      }
      .running-track {
        width: 90%;
        display: flex;
        position: relative;
        .played-color {
          height: 3px;
          background: $brand-secondary;
          position: absolute;
          z-index: 8;
          bottom: 33.5;
        }
        .track-color {
          height: 3px;
          background: $gray-medium;
          position: absolute;
          width: 100%;
          bottom: 33.5;
        }
      }
    }
  }
  input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    z-index: 8;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: transparent;
    border-radius: 50px;
    border: 0px solid #000101;
  }
  input[type='range']::-webkit-slider-thumb {
    //box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #00001e;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: $gray-lightdark;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.85px;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    background: transparent;
  }
  input[type='range']::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: transparent;
    border-radius: 50px;
    border: 0px solid #000101;
  }
  input[type='range']::-moz-range-thumb {
    //box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #00001e;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: $gray-lightdark;
    cursor: pointer;
  }
  input[type='range']::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type='range']::-ms-fill-lower {
    background: transparent;
    border: 0px solid #000101;
    border-radius: 50px;
    //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type='range']::-ms-fill-upper {
    background: transparent;
    border: 0px solid #000101;
    border-radius: 50px;
    //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type='range']::-ms-thumb {
    //box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #00001e;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: $gray-lightdark;
    cursor: pointer;
    height: 3px;
  }
  input[type='range']:focus::-ms-fill-lower {
    background: transparent;
  }
  input[type='range']:focus::-ms-fill-upper {
    background: transparent;
  }
}
.track.active-track {
  border-left: 3px solid #ff6b42 !important;
}
